{% extends 'jobs/base.html' %}
{%block title %} Learn Skills {% endblock %}

{% block content %}

<h1> Learn Skills: </h1>
<ul>
    <li><a href = "https://www.w3schools.com/html/html_intro.asp">Intro to HTML</a></li>
    <li><a href = "https://www.w3schools.com/css/css_intro.asp">Intro to CSS</a></li>
    <li><a href = "https://www.w3schools.com/js/js_intro.asp">Intro to JavaScript</a></li>
    <li><a href = "https://www.w3schools.com/sql/sql_intro.asp">Intro to SQL</a></li>
    <li><a href = "https://www.indeed.com/career-advice/interviewing/job-interview-tips-how-to-make-a-great-impression">Tips on Interviews</a></li>
</ul>


{% endblock %}